#  Local .terraform directories
**/.terraform*


# **/packer/
**varfiles/
**certs/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Other files that should not be kept
id_rsa*
*.json
*.zip
*.pem
*.sh

crash.log
blah.txt
