#  Local .terraform directories
**/.terraform*


**/packer/
**varfiles/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Other files that should not be kept
id_rsa*
*.json

crash.log
