ui           = true
plugin_directory = "/etc/vault.d/plugin"
api_addr     = "http://{{ ansible_ec2_local_ipv4 }}:8200"
# cluster_addr = "https://$cluster_address:8201"

storage "consul" {
{% if consul_https_enabled == true %}
  address = "127.0.0.1:{{ consul_https_port }}"
  scheme  = "https"
  tls_ca_file = "/etc/consul.d/tls/consul_tls_ca_bundle"
{% else %}
  address = "127.0.0.1:{{ consul_http_port }}"
{% endif %}
  path    = "/vault"
  token   = "{{ vault_agent_token }}"
}

listener "tcp" {
  address     = "127.0.0.1:8200"
{% if vault_https_enabled == true %}
  scheme  = "https"
  tls_ca_file   = "/etc/vault.d/tls/ca.pem"
  tls_cert_file = "/etc/vault.d/tls/cert.pem"
  tls_key_file  = "/etc/vault.d/tls/key.pem"
{% else %}
  tls_disable = true
{% endif %}
}

{% if vault_telemtry_enabled == true %}
telemetry {
  statsite_address = "127.0.0.1:8125"
  disable_hostname = true
}{% endif %}

{% if unseal_cloud == 'awskms' %}
seal "awskms" {
  region     = "{{ consul_join_region }}"
  kms_key_id = "{{ vault_kms_key_id }}"
}
{% endif %}
