ui           = true
plugin_directory = "/etc/vault.d/plugin"
api_addr     = "https://{{ ansible_ec2_local_ipv4 }}:8200"
# cluster_addr = "https://$cluster_address:8201"

storage "consul" {
{% if consul_https_enabled %}
  address = "127.0.0.1:{{ consul_https_port }}"
  scheme  = "https"
{% else %}
  address = "127.0.0.1:{{ consul_http_port }}"
{% endif %}
  path    = "/vault"
  token   = "{{ vault_agent_token }}"
}

listener "tcp" {
  address     = "127.0.0.1:8200"
  tls_disable = true
}

{% if vault_telemtry_enabled %}
telemetry {
  statsite_address = "127.0.0.1:8125"
  disable_hostname = true
}
{% endif %}

{% if unseal_cloud %}
seal "awskms" {
  region     = "{{ consul_join_region }}"
  kms_key_id = "{{ vault_kms_key_id }}"
}
{% endif %}
