bucket                    = "terraform-state-bucket"
backend                   = "s3"

environment               = "setup"
region                    = "ca-central-1"

tags = {
  client                  = "CLIENT"
  costcenter              = "CLIENTAWS"
}
