## For Remote State - Must already be created
bucket                    = "terraform-state-bucket"
backend                   = "s3"

## Pre-created using a different step
vpc_id                    = "vpc-0a11a111ad1b11abe"
subnet_id                 = ["subnet-0f11ea1cdc1fe111c"]
ami_owner_account         = "111222333444"


environment               = "dev"
region                    = "ca-central-1"

## Common Key used for all machines
key_name                  = "EXAMPLEKEY"

## What can access the systems
mgmt_subnets = [
  "1.1.1.1/32",
  "2.2.2.2/32",
  "172.21.1.0/24",
  "172.21.2.0/24"
]

tags = {
  client                  = "CLIENT"
  costcenter              = "CLIENTAWS"
  auto_join               = "AUTOJOIN"
  project                 = "demo"
}

kms = {
  key_deletion_window     = "10"
}

consul_storage = {
  count             = 3
  ingress_rules     = "consul-tcp,consul-cli-rpc-tcp,consul-webui-tcp,consul-webuis-tcp,consul-dns-tcp,consul-dns-udp,consul-serf-lan-tcp,consul-serf-lan-udp,consul-serf-wan-tcp,consul-serf-wan-udp"
  listening_port    = "8500"
  version           = "1.6.1"
  root_size         = "10"
  https             = true
  dnsmasq           = true
  server            = true
  ui                = true
  desired_capacity  = 3
  max_size          = 5
  min_size          = 0
}

vault = {
  count             = 1
  version           = "1.1.3"
  root_size         = "10"
  dnsmasq           = true
  https             = true
  tlslistener       = false
  ui                = true
  desired_capacity  = 1
  max_size          = 1
  min_size          = 1
}
