## ACL
primary_datacenter = "{{ consul_datacenter }}"

acl = {
  enabled = true
  {% if consul_bootstrap | bool -%}
  default_policy = "allow"
  {% else -%}
  default_policy = "deny"
  {% endif -%}
  enable_token_persistence = true

  tokens {
  {% if consul_agent_is_server | bool %}
    master = "{{ consul_master_token }}"
  {% endif -%}
  {% if consul_bootstrap | bool == False %}
    agent  = "{{ client_agent_token }}"
    default = "{{ default_token }}"
  {% endif -%}
  }
}
