## Node
node_name  = "{{ instance_id }}"
datacenter = "{{ consul_datacenter | default("dc1") }}"

## Addresses
bind_addr          = "0.0.0.0"
client_addr        = "0.0.0.0"
advertise_addr     = "{{ local_ip_address }}"
advertise_addr_wan = "{{ local_ip_address }}"

addresses = {
  {{ consul_api_protocol }} = "0.0.0.0"
}

ports = {
  dns      = {{ consul_dns_port }}
  http     = {{ consul_http_port }}
  https    = {{ consul_https_port }}
  serf_lan = {{ consul_serf_lan_port }}
  serf_wan = {{ consul_serf_wan_port }}
  server   = {{ consul_server_rpc_port }}
  grpc     = {{ consul_grpc_port }}
}

performance = {
  raft_multiplier  = 1
}

## Raft
raft_protocol = 3

## Agent
data_dir                   = "{{ consul_data_path }}"
log_level                  = "INFO"
enable_syslog              = true
syslog_facility            = "local0"
disable_update_check       = false
enable_script_checks       = false
enable_local_script_checks = false

## Encryption and TLS
encrypt                = "{{ consul_encryption_key | default("bogus-token") }}"
{% if consul_https_enabled | bool -%}
ca_file                = "{{ consul_config_path }}/tls/consul_tls_ca_bundle"
{% if consul_agent_is_server | bool -%}
cert_file              = "{{ consul_config_path }}/tls/consul_server_tls_cert"
key_file               = "{{ consul_config_path }}/tls/consul_server_tls_key"
{% else -%}
cert_file              = "{{ consul_config_path }}/tls/consul_client_tls_cert"
key_file               = "{{ consul_config_path }}/tls/consul_client_tls_key"
{% endif -%}
verify_incoming        = false
verify_incoming_rpc    = true
verify_outgoing        = true
verify_server_hostname = false
{% endif -%}
disable_remote_exec    = true

## LAN Join
retry_interval = "30s"
retry_max      = 0
retry_join     = [
{% if cloud_env == "aws" -%}
  "provider=aws tag_key={{ consul_join_tag_key }} tag_value={{ consul_join_tag_value }} region={{ consul_join_region }} addr_type=private_v4"
{% elif cloud_env == "azure" -%}
  "provider=azure resource_group={{ resource_group }} vm_scale_set={{ scale_set_name }} tenant_id={{ az_tenant_id }} client_id={{ az_client_id }} subscription_id={{ az_subscription_id }} secret_access_key={{ az_secret }}"
{% endif -%}
]

{% if consul_agent_is_server == true -%}
## Server Settings
server           = true
bootstrap_expect = {{ consul_bootstrap_expect }}

## UI
ui = true
{% endif -%}
