service consul stop
rm -rf ~/.ansible/
rm -rf {{ consul_config_path }}/*
rm -rf {{ consul_snapshot_storage }}/*
cp -R /home/azure-user/tasks/* /etc/ansible/roles/consul-snapshot/tasks/
cp -R /home/azure-user/templates/* /etc/ansible/roles/consul-snapshot/templates/
cp -R /home/azure-user/defaults/* /etc/ansible/roles/consul-snapshot/defaults/
